.popup__job-input {
	width: 358px;
	height: 57px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 680px) {
	.popup__job-input {
		width: 238px;
	}
}
