.header {
	width: 880px;
	height: 74px;
	border-bottom: 1px solid rgba(54, 54, 54, .7);
	margin-top: 45px;
}

@media screen and (max-width: 880px) {
	.header {
		width: 680px;
		margin-top: 28px;
	}
}

@media screen and (max-width: 680px) {
	.header {
		width: 420px;
		height: 56px;
	}
}

@media screen and (max-width: 420px) {
	.header {
		width: 320px;
	}
}
